.message-container {
  padding: 16px;
  display: flex;
  flex-direction: column;

  &.user {
    border-right: 2px solid $green;
    .message-p {
      float: right;
      text-align: right;
    }
  }
  &.other {
    border-left: 2px solid $blue;

    .message-p {
      float: left;
    }
  }
}
.message-content {
  color: $blueGray;
  margin-bottom: 4px;
  padding: 2px;
  width: 100%;
  height: auto;
}
.message-p {
  width: 70%;
  white-space: pre-wrap;
  height: auto;
}
.message-createdAt {
  font-size: 12px;
  position: sticky;
  color: $blueGray-darken;

  &.user {
    .createdAt-p {
      float: right;
    }
  }
  &.other {
    .createdAt-p {
      float: left;
    }
  }
}
