.chat-header-area {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 10px 0px;
}

.user-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.search-message {
  position: relative;
  right: -10px;
  width: 100%;
  justify-self: end;
  background-color: $secondarycolor-light;
  border-color: $primarycolor-light;
  padding-right: 0px;
  margin-right: 0px;
  z-index: 1;
}

.chat-list {
  display: flex;
  flex-direction: column;
}
