.right-container {
  height: 100%;
  width: 100%;
}
.history-container {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 44px 1fr 44px 1fr;
  row-gap: 4px;
  background-color: $primarycolor-light;
}

.history-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 4px;
}
.history-list-item {
  cursor: pointer;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    background-color: $primarycolor;
  }
}
.history-content {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.h-file-icon {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  color: $blueGray;
}
.history-fileName {
  color: $blueGray;
  font-weight: bold;
  width: 230px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.history-title {
  text-align: center;
  padding-top: 8px;
  font-weight: bolder;
}

.history-twoText {
  min-width: 230px;
  max-width: 230px;
}
.history-fileSize {
  display: inline-block;
  min-width: 100px;
  max-width: 100px;
}
.history-createdAt {
  font-size: 12px;
  font-weight: bold;
}

.padding-top-2 {
  padding-top: 12px;
}
.border-top {
  border-top: 4px solid $primarycolor;
}
.border-bottom {
  border-bottom: 4px solid $primarycolor;
}
