.fa-desktop {
	font-size: 24px;
}

.at-icon {
	width: 16px;
	height: 16px;
	fill: $blueGray;
}

.check-icon {
	width: 24px;
	height: 24px;
	fill: $green;
	transition: all ease-in-out 60ms;
	&:hover {
		transform: scale(1.4);
	}
}
.ban-icon {
	width: 24px;
	height: 24px;
	fill: $red;
	transition: all ease-in-out 60ms;
	&:hover {
		transform: scale(1.4);
	}
}
.times-icon {
	width: 24px;
	height: 24px;
	fill: $red;
}

.times-icon-cancelprg {
	width: 50px;
	height: 50px;
	fill: $red;
	transition: all ease-in-out 60ms;
}
.ban-icon-cancel-upload {
	margin-top: 12px;
	width: 24px;
	height: 24px;
	fill: $red;
	&:hover {
		transition: all ease-in-out 60ms;
		transform: scale(1.2);
	}
}

.spinner {
	text-align: center;
	margin-top: 50%;
}
