.right-container {
	height: 100%;
	width: 100%;
	background-color: $primarycolor-light;
	display: grid;
	grid-template-rows: 44px 1fr 44px 1fr;
	grid-template-areas:
		'title-upload'
		'list-upload'
		'title-download'
		'list-download';
	background-color: $primarycolor-light;
}

.media-title-container-upload {
	grid-area: title-upload;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	border-bottom: 2px solid $primarycolor;
	border-top: 2px solid $primarycolor;
	margin: 0px 4px;
	border-radius: 4px;
	height: 45px;
}
.media-title-container-download {
	grid-area: title-download;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	border-bottom: 2px solid $primarycolor;
	border-top: 2px solid $primarycolor;
	margin: 0px 4px;
	border-radius: 4px;
	height: 45px;
}
.media-list-container-upload {
	grid-area: list-upload;
	overflow: hidden;
}
.media-list-container-download {
	grid-area: list-download;
	overflow: hidden;
}
.media-list-upload {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}
.media-list-download {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: auto;
}

.media-list-item {
	cursor: pointer;
	min-height: 35px;
	padding: 8px 8px;
	border-right: 1px solid $secondarycolor;
	border-left: 1px solid $secondarycolor;
	border-bottom: 1px solid $secondarycolor;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	justify-items: flex-start;
	align-content: flex-start;

	transition: min-height ease-in-out 120ms;
	&:hover {
		background-color: $primarycolor;
		border-radius: 8px;
	}
}
.media-title-download {
	width: 120px;
	margin-left: 8px;
}
.media-title-upload {
	width: 120px;
	margin-left: 8px;
}
.media-search-upload {
	margin-right: 8px;
	&::placeholder {
		font-size: 14px;
	}
}
.media-search-download {
	margin-right: 8px;
	margin-left: 14px;
	&::placeholder {
		font-size: 14px;
	}
}

.expanded {
	min-height: 90px;
	background-color: $primarycolor;
	border-radius: 8px;
}

.media-expanded-section {
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	padding: 8px 0px;
	border-top: 1px solid black;
}

.media-file-dir {
	cursor: auto;
	width: 270px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	margin-top: 4px;
}
.media-createdAt {
	cursor: auto;
	font-size: 14px;
}
.show-in-folder {
	cursor: pointer;
	color: $blue;
	font-weight: bolder;
	padding: 4px;
	margin-left: 12px;
	margin-right: auto;
	&:hover {
		background-color: $gray-darken;
		border-radius: 8px;
	}
}
.media-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.media-icon {
	min-width: 26px;
	max-width: 26px;
	min-height: 30px;
	max-height: 30px;
}

.h-file-icon {
	min-width: 26px;
	max-width: 26px;
	min-height: 30px;
	max-height: 30px;
	color: $blueGray;
	margin-right: 4px;
}

.media-info {
	min-width: 140px;
	max-width: auto;
}
.media-fileName {
	color: $blueGray;
	font-weight: bold;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
}

.media-fileSize {
	display: inline-block;
	font-weight: 500;
	min-width: 100px;
	max-width: 100px;
	font-size: 14px;
}
.media-progress {
	font-size: 16px;
	font-weight: 600;
	color: $blueGray;
}
.media-cancel-icon {
	width: 24px;
	height: 24px;
	fill: $red;
}
.media-ban-icon {
	width: 24px;
	height: 24px;
	fill: $red;
	transition: all ease-in-out 60ms;
	&:hover {
		transform: scale(1.4);
	}
}
.media-check-icon {
	width: 24px;
	height: 24px;
	fill: $green;
	transition: all ease-in-out 60ms;
	&:hover {
		transform: scale(1.4);
	}
}
.media-btn-group {
	display: flex;
	width: 100%;
	justify-content: space-around;
	justify-items: center;
	align-content: center;
	align-items: center;
}
.media-btn-group-1 {
	display: flex;
	justify-content: flex-end;
	justify-items: flex-end;
	align-content: center;
	align-items: center;
	margin-left: auto;
}
.media-times-icon {
	width: 16px;
	height: 16px;
	fill: $red;
}

.load-more {
	position: relative;
	text-align: center;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	justify-items: center;
	align-content: center;
	height: 10px;
	&:hover {
		background-color: $primarycolor;
		border-radius: 0px;
	}
	margin-top: 10px;
}
.load-more-text {
	color: $blue;
	font-weight: bolder;
}

.upload-list-top {
	position: absolute;
	min-height: 50px;
	min-width: 100%;
	margin-top: 205px;
	pointer-events: none;
}
.download-list-top {
	position: absolute;
	min-height: 50px;
	min-width: 100%;
	margin-top: 205px;
	pointer-events: none;
}
